﻿@model IEnumerable<UF2405.Models.Maziza>

@{
    ViewData["Title"] = "Listado de Buenorras";
}



<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center"  >
        <h1>Buenorras y Mazizas</h1>
    </div>
</div>

<div class="row">
    <table>
        @foreach (var buenorra in Model)
        {
            <td><img src="" /></td> 

        }
        <tr>
            <td>    </td>
        </tr>
    </table>
</div>

