﻿@{
    ViewData["Title"] = "Listado de cervezas";
}


<h1>Inserción de cervezas</h1>

<form asp-action="Create" method="post">
    <label>Marca: </label><br />
    <input type="text" name="marca" /><br/><br />

    <label>Graduacion: </label><br />
    <input type="number" name="graduacion" /><br /><br />

    <label>Precio: </label><br />
    <input type="number" name="precio" /><br /><br />

    <label>¿¿Con alcohol?? </label>
    <label>Si </label><input type="radio" name="alcohol" value="TRUE" />
    <label>No </label><input type="radio" name="alcohol" value="FALSE" /><br /><br /><br />

    <input type="submit" value="Ok" name="crear" />

</form>